body {

    color: #000000;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    
}

div#contenedorsup {
    
    background-color: #CFCFCF;
    border: 2px solid #000;
    box-shadow: 6px 6px 0 #000;
    border-radius: 5px 5px 0px 0px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    height: 80px;
    width: 98%;
    margin: 5px 0px;
    padding: 5px;

}

div#contenedormid {
    
    background-color: #ffffff;
    border: 2px solid #000;
    box-shadow: 6px 6px 0 #000;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 98%;
    height: 500px;
    margin: 5px 0px;
    padding: 5px;

}

div#contenedorbot {
    
    background-color: #CFCFCF;
    border: 2px solid #000;
    box-shadow: 6px 6px 0 #000;
    border-radius: 5px 5px 0px 0px;
    border-radius: 0px 0px 5px 5px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;

    height: 30px;
    width: 98%;
    margin: 5px 0px;
    padding: 5px;

}

h1 {

    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;

    margin: 3em auto 0px 3em;

}

h2 {

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    margin: 0px;
    margin: 5px auto 0px 4em;

}

img#pagina {

    margin: auto 20px auto 0;
    height: 20px;
    width: 20px;

}

p#nombre {

    margin: auto 1em auto 0;

}

a {

    background-color: #CFCFCF;
    border: 2px solid #000;
    box-shadow: 6px 6px 0 #000;
    border-radius: 5px 5px 0px 0px;
    border-radius: 0px 0px 5px 5px;

    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    
    text-align: auto;

    height: 65px;
    width: 20%;
    margin: 25px auto 0px 6em;
    padding: 10px;

    transition: 1s;

}

a#alinks {

    background-color: #fff;

    height: 20px;
    margin: auto;

}

p#separador {

    background-color: #000;

    height: 2px;
    width: 20%;
    margin: 20px auto 0 6em;

}

a:link, a:visited, a#links:link, a#links:visited {

    color: #000;

    text-align: center;
    text-decoration: none;

}

a:hover {

    width: 60%;

}
